.insertboard{
    border-radius: 4px;
    height: 50 px;
    padding: 10px;
    width: 200px;
}

.addbutton{
    cursor: pointer;
    border-color: black;
    border-radius: 5px;
    background-color: skyblue;
    padding: 5px;
}

.deletebutton{
    background-color: red;
    border-radius: 4px;
}

.listitem{
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    display: flex;
    gap: 8px;
}

.edit{
    border-radius: 4px;
}
